<?xml version="1.0" encoding="UTF-8"?>
<web-app
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		version="2.5">

	<description>confhoard-servlet</description>
	<display-name>confhoard-servlet</display-name>

	<servlet>
		<servlet-name>ConfHoardServlet</servlet-name>
		<servlet-class>org.unclesniper.confhoard.servlet.ConfHoardServlet</servlet-class>
		<init-param>
			<param-name>webWiringFile</param-name>
			<param-value>/etc/confhoard/webconfig.ogdl</param-value>
		</init-param>
		<init-param>
			<param-name>stateWiringFile</param-name>
			<param-value>/etc/confhoard/confstate.ogdl</param-value>
		</init-param>
		<multipart-config>
			<location>/tmp</location>
			<max-request-size>1073741824</max-request-size>
			<file-size-threshold>2048</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConfHoardServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
